###############################################################################
# IDE
###############################################################################
# IntelliJ
.idea
*.iws
*.iml
*.ipr
# VS Code
.vscode/

###############################################################################
# Sprint Boot
###############################################################################
.mvn
target

###############################################################################
# React.js
###############################################################################
src/main/react/frontend/build
src/main/react/frontend/node_modules
src/main/react/frontend/.eslintcache

